@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.25;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

* :focus {
  outline: none;
}

:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #F9F9F9;
}

section {
  width: 100%;
  height: 100vh;
}

img {
  width: 100px !important;
  height: 100px !important;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

.relative {
  position: absolute;
  bottom: 200.05px;
  right: 100px;
}

.deco-top {
  background-color: aqua;
  width: 100%;
  height: auto;
  position: relative;
}
.deco-top h1 {
  float: right;
}
.deco-top .dotted-circle {
  display: flex;
  justify-content: center;
  place-items: center;
  position: absolute;
  top: -370px;
  left: -370px;
  width: 860px;
  height: 860px;
  border-radius: 860px;
  border: dashed 1px #F67520;
  z-index: -1;
}
.deco-top .dotted-circle .circle {
  width: 640px;
  height: 640px;
  border-radius: 640px;
  background: linear-gradient(143.04deg, #F5A11A 42.12%, #F67520 78.4%);
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.first {
  display: flex;
  justify-content: center;
  place-items: center;
}
.first .part1 {
  display: flex;
  width: 70%;
  gap: 80px;
  margin: 0 auto;
  justify-content: space-around;
}
.first .learn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.first .learn .button {
  display: flex;
  gap: 4%;
}
.first .learn .button .button_orange {
  background: linear-gradient(-45deg, #F67520, #F5A11A);
  background: -webkit-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -moz-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -ms-linear-gradient(-45deg, #F67520, #F5A11A);
  border-radius: 26px;
  padding: 4px 16px;
  color: white;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  font-size: 1.2rem;
  font-weight: 700;
}
.first .learn .button .button_white {
  background-color: white;
  border-radius: 26px;
  padding: 4px 16px;
  color: #F5A11A;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  font-size: 1.2rem;
  font-weight: 700;
}
.first .test {
  width: fit-content;
}
.first .test .circle1 {
  width: 502px;
  height: 502px;
  border-radius: 502px;
  border: 1px dashed #F67520;
  stroke-dasharray: 18;
  display: flex;
  justify-content: center;
  place-items: center;
}
.first .test .circle1 .circle2 {
  width: 343px;
  height: 343px;
  border-radius: 343px;
  background-color: #F5A11A;
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.first .test .circle1 .circle2 .circle3 {
  width: 237px;
  height: 237px;
  border-radius: 237px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  place-items: center;
}
.first .test .circle1 .circle2 .circle3 .circle4 {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #F5A11A;
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.first .test .circle1 .circle2 .circle3 .circle4 p {
  font-size: 2rem;
}

.second {
  background: linear-gradient(-45deg, #F67520, #F5A11A);
  background: -webkit-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -moz-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -ms-linear-gradient(-45deg, #F67520, #F5A11A);
}

.third {
  height: auto;
  margin-bottom: 128px;
}
.third h2 {
  padding: 64px 0;
  text-align: center;
}
.third form {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(-45deg, #F67520, #F5A11A);
  background: -webkit-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -moz-linear-gradient(-45deg, #F67520, #F5A11A);
  background: -ms-linear-gradient(-45deg, #F67520, #F5A11A);
}
.third form input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 4px 8px;
}
.third form select {
  font-size: 1rem;
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 2px 8px;
}
.third form select option {
  font-size: 1rem;
}
.third form button {
  width: 30%;
  margin: 0 auto;
  margin-top: 32px;
  border: none;
  padding: 4px 16px;
  background-color: #F9F9F9;
  border-radius: 5px;
}

footer {
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.footer_symbole {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.footer_symbole_article {
  width: 30%;
}

.footer_symbole_texte {
  opacity: 60%;
}

.footer_mentions_title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}

.footer_mentions_hr {
  height: 2px;
  width: 100%;
  background-color: orange;
}

.footer_mentions_text {
  text-align: center;
  opacity: 60%;
}

/*# sourceMappingURL=style.css.map */
